body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}
img {
  max-width: 100%;
}

.button {
  border: none;
  border-radius: 3px;
  font: inherit;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  background-color: #fb565a;
}

.button:hover {
  background-color: #e74246;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  background-color: #eeeeee;
}

.main-navigation {
  line-height: 30px;
}

.main-navigation__list {
  list-style: none;
}

.main-navigation__item a,
.main-navigation__cart {
  font-weight: 500;
  text-transform: uppercase;
  color: #000000;
}

.main-navigation__item:not(.main-navigation__item--current) a:hover,
.main-navigation__cart:hover {
  color: #fb565a;
}

.main-navigation__item:not(.main-navigation__item--current) a:active,
.main-navigation__cart:active {
  color: rgba(0, 0, 0, 0.3);
}

.page-title {
  margin: 0;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
  background-color: #eeeeee;
}

.features {
  background-color: #eeeeee;
}

.slider__controls {
  margin: 0;
  list-style: none;
}

.slider__controls button {
  position: relative;
  width: 18px;
  height: 18px;
  border: none;
  border-radius: 50%;
  background-color: #ffffff;
}

.slider__controls .active::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 5px;
  height: 5px;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider__list {
  list-style: none;
}

.slider__item {
  background-repeat: no-repeat;
  background-size: 760px 431px;
  background-position: right;
}

.slider__item--first {
  background-image: url("../img/nerds-index-slide1.png");
}

.slider__item--second {
  background-image: url("../img/nerds-index-slide2.png");
}

.slider__item--third {
  background-image: url("../img/nerds-index-slide3.png");
}

.slider__item h3 {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
}

.services__list {
  list-style: none;
}

.services__item {
  position: relative;
  padding-top: 146px;
}

.services__item::before {
  content: "";
  position: absolute;
  top: 0;
  width: 300px;
  height: 146px;
  background-repeat: no-repeat;
  background-position: center;
}

.services__item--sites::before {
  background-color: #fb565a;
  background-image: url("../img/illustration-1.png");
}

.services__item--apps::before {
  background-color: #00ca74;
  background-image: url("../img/illustration-2.png");
}

.services__item--presentations::before {
  background-color: #efc84a;
  background-image: url("../img/illustration-3.png");
}

.services__item--apps .button {
  background-color: #00ca74;
}

.services__item--apps .button:hover {
  background-color: #00bc6c;
}

.services__item--apps .button:active {
  background-color: #00aa62;
}

.services__item--presentations .button {
  background-color: #efc84a;
}

.services__item--presentations .button:hover {
  background-color: #eab534;
}

.services__item--presentations .button:active {
  background-color: #e5a722;
}

.services__item h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.about__slogan {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
}

.about h3 {
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.about__products {
  margin: 0;
  padding: 0;
  list-style: none;
}

.about__products li {
  position: relative;
  padding-left: 32px;
}

.about__products li::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 0;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
}

.quality-percent {
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
  color: #000000;
}

.quality-percent span {
  vertical-align: top;
  font-size: 26px;
  line-height: 51px;
}

.quality-name {
  margin: 0;
  line-height: 18px;
}

.partners__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.partners__logo img {
  opacity: 0.2;
}

.partners__logo:hover img {
  opacity: 1;
}

.partners__logo:active img {
  opacity: 0.1;
}

.filter__form fieldset {
  padding: 0;
  border: none;
}

.filter__form legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.filter__form ul {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 19px;
}

.filter__form label {
  color: #283136;
}

.filter__price {
  line-height: 22px;
  text-transform: uppercase;
}

.filter__price input {
  font: inherit;
  color: #283136;
}

.filter__input-radio:disabled + label,
.filter__input-checkbox:disabled + label {
  color: rgba(40, 49, 54, 0.3)
}

.filter__button {
  color: #000000;
  background-color: #eeeeee;
  cursor: pointer;
}

.filter__button:hover {
  background-color: #dfdfdf;
}

.filter__button:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;
}

.sorting__title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.sorting__list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-transform: uppercase;
}

.sorting__item a {
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
}

.sorting__item:not(.sorting__item--current) a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.sorting__item:not(.sorting__item--current) a:active {
  color: #000000;
}

.sorting__item--current a {
  color: #000000;
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.contacts__info h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.contacts__info p {
  line-height: 18px;
  color: #666666;
}

.contacts__info .contacts__phone {
  color: #666666;
}

.contacts__map {
  object-fit: cover;
}

.social__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.social__item a {
  color: inherit;
}

.social__slogan {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.social__discount {
  line-height: 22px;
  color: #444444;
}

.modal {
  color: #000000;
  background-color: #ffffff;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
}

.modal__title {
  font-size: 45px;
  line-height: 53px;
  font-weight: 700;
}

.modal__form label {
  line-height: 18px;
  font-weight: 700;
}

.modal__form input[type="text"],
.modal__form input[type="email"],
.modal__form textarea {
  border: 2px solid #d7dcde;
  border-radius: 3px;
  font: inherit;
  line-height: 18px;
  color: #444444;
  background-color: #ffffff;
}

.modal__form input[type="text"]::placeholder,
.modal__form input[type="email"]::placeholder,
.modal__form textarea::placeholder {
  color: #444444;
  opacity: 0.5;
}

.modal__form input[type="text"]:hover,
.modal__form input[type="email"]:hover,
.modal__form textarea:hover {
  border: 2px solid #b4b9bb;
}

.modal__form input[type="text"]:focus,
.modal__form input[type="email"]:focus,
.modal__form textarea:focus {
  border: 2px solid #000000;
  outline: none;
}

.modal__form input[type="text"]:invalid,
.modal__form input[type="email"]:invalid,
.modal__form textarea:invalid {
  border: 2px solid #e74246;
  color: #e74246;
}
