*, *::after, *::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.button {
  display: inline-block;
  padding: 16px 10px;
  border: none;
  border-radius: 3px;
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: #fb565a;
}

.button:hover {
  background-color: #e74246;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1180px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-header {
  padding-top: 49px;
  background-color: #eeeeee;
}

.main-navigation {
  display: flex;
  align-items: center;
  line-height: 30px;
}

.main-navigation__logo {
  flex-shrink: 0;
  width: 160px;
  height: 65px;
  margin-right: 20px;
}

.main-navigation__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-left: 182px;
  padding: 0;
  list-style: none;
}

.main-navigation__item a,
.main-navigation__cart {
  position: relative;
  display: block;
  margin-top: 16px;
  padding: 10px 0;
  font-weight: 500;
  text-transform: uppercase;
  color: #000000;
}

.main-navigation__item a {
  margin-right: 46px;
}

.main-navigation__item:not(.main-navigation__item--current) a:hover,
.main-navigation__cart:not(.main-navigation__cart--active):hover {
  color: #fb565a;
}

.main-navigation__item:not(.main-navigation__item--current) a:active,
.main-navigation__cart:not(.main-navigation__cart--active):active {
  color: rgba(0, 0, 0, 0.3);
}

.main-navigation__item--current a::after,
.main-navigation__cart--active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #fb565a;
}

.main-navigation__cart {
  max-width: 260px;
  margin-left: auto;
  padding-left: 40px;
}

.main-navigation__cart::before {
  content: "";
  position: absolute;
  left: 0;
  top: 17px;
  width: 15px;
  height: 15px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.page-title-wrapper {
  padding: 70px 0 105px;
  background-color: #eeeeee;
}

.page-title {
  padding: 0 10px;
  text-align: center;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
}

.features {
  position: relative;
  background-color: #eeeeee;
}

.slider__controls {
  position: absolute;
  left: 50%;
  bottom: 94px;
  z-index: 5;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
  transform: translateX(-50%);
}

.slider__controls li {
  margin-right: 7px;
}

.slider__controls li:last-child {
  margin-right: 0;
}

.slider__controls button {
  position: relative;
  width: 28px;
  height: 28px;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}

.slider__controls button::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 7px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #ffffff;
}

.slider__controls .active::after {
  content: "";
  position: absolute;
  top: 12px;
  left: 12px;
  width: 8px;
  height: 8px;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
  background-color: inherit;
}

.slider__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider__item {
  display: none;
  min-height: 431px;
  padding: 77px 0;
  background-repeat: no-repeat;
  background-size: 760px 431px;
  background-position: 99%;
}

.slider__item:nth-child(1) {
  display: block;
  background-image: url("../img/nerds-index-slide1.png");
}

.slider__item:nth-child(2) {
  background-image: url("../img/nerds-index-slide2.png");
}

.slider__item:nth-child(3) {
  background-image: url("../img/nerds-index-slide3.png");
}

.slider__item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
}

.slider__item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 20px;
}

.slider__button {
  min-width: 240px;
  max-width: 450px;
  margin-top: 20px;
}

.services {
  position: relative;
  padding: 79px 10px 82px 10px;
}

.services::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 10px;
  width: 1160px;
  height: 2px;
  background-color: #eeeeee;
}

.services__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.services__item {
  position: relative;
  width: 360px;
  padding-right: 60px;
  padding-top: 146px;
}

.services__item::before {
  content: "";
  position: absolute;
  top: 0;
  width: 300px;
  height: 146px;
  background-repeat: no-repeat;
  background-position: center;
}

.services__item--sites::before {
  background-color: #fb565a;
  background-image: url("../img/illustration-1.png");
}

.services__item--apps::before {
  background-color: #00ca74;
  background-image: url("../img/illustration-2.png");
}

.services__item--presentations::before {
  background-color: #efc84a;
  background-image: url("../img/illustration-3.png");
}

.services__item--apps .button {
  background-color: #00ca74;
}

.services__item--apps .button:hover {
  background-color: #00bc6c;
}

.services__item--apps .button:active {
  background-color: #00aa62;
}

.services__item--presentations .button {
  background-color: #efc84a;
}

.services__item--presentations .button:hover {
  background-color: #eab534;
}

.services__item--presentations .button:active {
  background-color: #e5a722;
}

.services__item h3 {
  margin: 0;
  margin-top: 25px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.services__item p {
  max-width: 260px;
  margin: 0;
  margin-top: 16px;
}

.services__button {
  min-width: 160px;
  margin-top: 33px;
}

.about {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 40px 10px 75px 10px;
}

.about::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 10px;
  width: 1160px;
  height: 2px;
  background-color: #eeeeee;
}

.about h3 {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.about__column-description {
  width: 650px;
  margin-right: 20px;
}

.about__slogan {
  margin-top: 35px;
  margin-bottom: 32px;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
}

.about__column-description h3 {
  margin-top: 39px;
  margin-bottom: 24px;
}

.about__products {
  margin: 0;
  padding: 0;
  list-style: none;
}

.about__products li {
  position: relative;
  margin-bottom: 24px;
  padding-left: 36px;
}

.about__products li:last-child {
  margin-bottom: 0;
}

.about__products li::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 0;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
}

.about__column-quality {
  width: 360px;
}

.about__column-quality h3 {
  margin-top: 29px;
  margin-bottom: 32px;
  text-align: center;
}

.quality-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.quality-percent {
  order: -1;
  width: 120px;
  margin-bottom: 10px;
  padding-right: 10px;
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
  color: #000000;
}

.quality-percent span {
  vertical-align: top;
  font-size: 26px;
  line-height: 51px;
}

.quality-name {
  width: 120px;
  margin: 0;
  padding-right: 10px;
  line-height: 18px;
}

.partners {
  position: relative;
  min-height: 182px;
  margin-bottom: 81px;
  padding: 10px;
}

.partners::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 10px;
  width: 1160px;
  height: 2px;
  background-color: #eeeeee;
}

.partners__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.partners__item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 295px;
  height: 162px;
  padding: 20px;
}

.partners__item:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 0;
  width: 2px;
  height: 52px;
  background-color: #eeeeee;
}

.partners__logo img {
  opacity: 0.2;
}

.partners__logo:hover img {
  opacity: 1;
}

.partners__logo:active img {
  opacity: 0.1;
}

.container--catalog {
  display: flex;
  justify-content: space-between;
  padding-top: 55px;
}

.filter {
  width: 260px;
}

.filter__form fieldset {
  padding: 0;
  border: none;
}

.filter__form legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.filter__form ul {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 19px;
}

.filter__form label {
  color: #283136;
}

.filter__price {
  line-height: 22px;
  text-transform: uppercase;
}

.filter__price input {
  font: inherit;
  color: #283136;
}

.filter__input-radio:disabled + label,
.filter__input-checkbox:disabled + label {
  color: rgba(40, 49, 54, 0.3)
}

.filter__button {
  color: #000000;
  background-color: #eeeeee;
  cursor: pointer;
}

.filter__button:hover {
  background-color: #dfdfdf;
}

.filter__button:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;
}

.catalog-column {
  width: 760px;
}

.sorting__title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.sorting__list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-transform: uppercase;
}

.sorting__item a {
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
}

.sorting__item:not(.sorting__item--current) a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.sorting__item:not(.sorting__item--current) a:active {
  color: #000000;
}

.sorting__item--current a {
  color: #000000;
}

.catalog__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  list-style: none;
}

.catalog__item {
  width: 360px;
  margin-bottom: 30px;
}

.product__info {
  text-align: center;
  background-color: #eeeeee;
}

.product__title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.product__text {
  line-height: 18px;
  color: #666666;
}

.pagination {
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination__item a {
  border-radius: 3px;
  line-height: 18px;
  font-weight: 500;
  color: #000000;
}

.pagination__item:not(.pagination__item--current) a {
  background-color: #eeeeee;
}

.pagination__item:not(.pagination__item--current) a:hover {
  background-color: #dfdfdf;
}

.pagination__item:not(.pagination__item--current) a:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.pagination__item--current a {
  border: 3px solid #dbdbdb;
  cursor: default;
}

.contacts {
  position: relative;
  min-height: 416px;
}

.contacts .container {
  display: flex;
}

.contacts__info {
  position: relative;
  width: 320px;
  margin-top: 54px;
  padding: 50px;
  background-color: #ffffff;
  z-index: 2;
}

.contacts__info h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.contacts__info p {
  line-height: 18px;
  color: #666666;
}

.contacts__info .contacts__phone {
  color: #666666;
}

.contacts__map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 416px;
  object-fit: cover;
}

.social {
  display: flex;
  align-items: center;
  padding: 68px 0;
}

.social__list {
  display: flex;
  flex-wrap: wrap;
  max-width: 360px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social__item {
  margin-right: 9px;
}

.social__item:last-child {
  margin-right: 0;
}

.social__item a {
  color: inherit;
}

.social__text {
  margin-left: 139px;
}

.social__slogan {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.social__discount {
  line-height: 22px;
  color: #444444;
}

.modal {
  color: #000000;
  background-color: #ffffff;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
}

.modal__title {
  font-size: 45px;
  line-height: 53px;
  font-weight: 700;
}

.modal__form label {
  line-height: 18px;
  font-weight: 700;
}

.modal__form input[type="text"],
.modal__form input[type="email"],
.modal__form textarea {
  border: 2px solid #d7dcde;
  border-radius: 3px;
  font: inherit;
  line-height: 18px;
  color: #444444;
  background-color: #ffffff;
}

.modal__form input[type="text"]::placeholder,
.modal__form input[type="email"]::placeholder,
.modal__form textarea::placeholder {
  color: #444444;
  opacity: 0.5;
}

.modal__form input[type="text"]:hover,
.modal__form input[type="email"]:hover,
.modal__form textarea:hover {
  border: 2px solid #b4b9bb;
}

.modal__form input[type="text"]:focus,
.modal__form input[type="email"]:focus,
.modal__form textarea:focus {
  border: 2px solid #000000;
  outline: none;
}

.modal__form input[type="text"]:invalid,
.modal__form input[type="email"]:invalid,
.modal__form textarea:invalid {
  border: 2px solid #e74246;
  color: #e74246;
}
